/* inzio 1 a 5 */

.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
   width: 100%;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
   border-radius: 100%;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(1);
}
/* fine 1 a 5 */

/* inzio 6 a 10 */

.ex-6-img:hover {
    filter: grayscale();
}

.ex-7-img:hover {
    filter: sepia();
    transition: 3s;
}

.ex-8-img:hover {
    filter: grayscale(0.8);
    transition: 3s;
    border-radius: 20px;
}

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    transform: scale(1.3);
    border-radius: 20px;
    filter: sepia();
}

.ex-10-icon {
    animation: gira infinite linear 1s;
}

@keyframes gira {
    0% {
        transform: rotate(1turn);
    }

}

/* fine 6 a 10 */
/* inzio 11 a 13 */

.ex-11-icon:hover {
    animation: giraa3 linear 1s;
}

@keyframes giraa3 {
    0% {
        transform: rotate(0);
    }

    80% {
        transform: rotate(320deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: muovibordi linear 2s;
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: muovibottombordi linear 2s;
}

@keyframes muovibordi {
    0% {
        left: 10%;
        top: -10px;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

@keyframes muovibottombordi {
    0% {
        bottom: -10px;
        right: 10%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        bottom: -10px;
        right: 10%;     
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: movetopbotton 2s linear;
}
@keyframes movetopbotton {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: movebottom 2s linear;
}
@keyframes movebottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}


/* fine 11 a 13 */


